.category_wrapper {
    margin: auto;
    padding: 0 0 48px 0;
    
    display: flex;
    flex-direction: column;
    
    min-width: 100%;
}
    .hide_btn {
        display: none !important;
    }
    .cards_wrapper{
        margin: auto;
        
        display: grid;
        grid-auto-flow: row dense;
        grid-template-columns: repeat(2,calc(100%/2 - 8px/2*(2 - 1)));
        row-gap: 24px;
        column-gap: 8px;

        max-width: 1500px;
        width: 100%;

    }
    @media (min-width: 768px) {
        .cards_wrapper {
          grid-template-columns: repeat(4,calc(100%/4 - 8px/4*(4 - 1)));
          row-gap: 32px;
        }
    }
    @media (min-width: 1280px) {
        .cards_wrapper {
          grid-template-columns: repeat(6,calc(100%/6 - 30px/6*(6 - 1)));
          column-gap: 30px;
        }
    }
    .more_cards_wrapper {
        display: flex;
        justify-self: center;
        align-items: center;
        
        position: relative;
    }
        .more_label {
            position: absolute;
            width: 100%;

            margin: auto; 
            z-index: 21;
            color: white;

            font-size: 50px;
            font-family: "Inter", sans-serif;
            font-weight: 800;
            font-optical-sizing: auto;
            font-style: normal;

            display: flex;
            justify-content: center;
        }
            .more_label p{
                margin: auto;
                z-index: 22;

                color: #ae1ae8; /* non-webkit cant handle text-fill-color? */
                background: linear-gradient(0deg,rgba(36,36,36,.05) 0,rgba(36,36,36,.05) 100%),linear-gradient(97deg,#ed3cca .49%,#df34d2 14.88%,#d02bd9 29.27%,#bf22e1 43.14%,#ae1ae8 57.02%,#9a10f0 70.89%,#8306f7 84.76%,#7c1af8 99.15%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
            }
        .more_cards_gray {
            position: absolute;
            width: 100%;
            height: 100%;

            background-color: rgba(90, 90, 90, 0.1);
            filter: blur(5px);
        }
        .more_cards {
            filter: blur(5px) opacity(70%);

            display: flex;
            justify-content: center;
            align-items: center;
        }
            