body {
  margin-top: 100px;
  @media (max-width: 768px) {
    margin-top: 65px;
  }
}

.footer_wrapper{
  min-height: 100vh;
  height: 100%;

  overflow: hidden;

  display: table;
  width: 100%; 
}
  .app_container{
      margin: auto;
      overflow-anchor: none;
  }
      .absolute_center_block {
        position: absolute;

        margin: auto;

        height: 100vh;
        width: 100vw;
        background-color: transparent;

        z-index: -1000;

        display: flex;
        justify-content: center;
        align-items: center;
      }

  footer {
      width: 100vw;
      min-height: 200px;
      background-color: #dbdbdb9e;

      padding: 10px;

      display: table-row;
      height: min(200vh, 100%);
  }
    .footer_container {
      min-height: 85px;
      height: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      padding: min(25px, 5%);
    }
      .footer_item {
        height: 100%;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        column-gap: 7px;
      }
        .footer_item_text{
          overflow-wrap: break-word;
          word-break: break-word;
          font-size: 14px;
          line-height: 20px;
          color: #242424;
          white-space: nowrap;
        }
        @media (max-width: 900px) {
          .footer_item_text{
            line-height: 15px;
            font-size: 12px;
          }
        }
        @media (max-width: 500px) {
          .footer_item_text{
            line-height: 13px;
            font-size: 11px;
          }
        }
        .footer_item_head{
          font-weight: 600;
        }
        @media (max-width: 900px) {
          .footer_item_head{
            white-space:unset;
            line-height: 16px;
            font-size: 13px;
            font-weight: 600;
          }
        }
        @media (max-width: 500px) {
          .footer_item_head{
            white-space:unset;
            line-height: 15px;
            font-size: 11px;
            font-weight: 600;
          }
        }
        .footer_item_elem {
          text-decoration: none;
          display: inline-block;
          vertical-align: middle;
        }
          .a_sign_out {
              margin-right: 10px;
          }