.addmenu_hidden {
    display: none;
}
.categoty_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    max-width: 1500px;
    margin: auto;
    width: 100%;
}
    .filter_container_hidden{
        display: none;
    }
    .filter_container {
        height: 100vh;
        width: 100vw;
        z-index: 1000;

        position: fixed;
        top: 0;
        right: 0;
        background-color: white;

        padding: 25px;
    }
        .filter_head {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .filter_close {
                width: calc(13px + 5px*2);
                padding: 5px;
                height: auto;
                margin-top: 2px;
                cursor: pointer;
            }
            .filter_title {
                font-size: 18px;
                line-height: 24px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-weight: 700;
            }
        .filter_category {
            margin: 10px 0 10px 0;
        }
            .filter_category h3 {
                font-size: 16px;
                line-height: 22px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-weight: 600;

                margin-bottom: 12px;
            }
            .price_wrapper{
                display: flex;
                flex-direction: row;
                gap: 10px;

                width: 100%;
            }
                .price_elem {
                    width: 50%;
                }
                    .price_elem p {
                        font-size: 14px;
                        line-height: 20px;
                        color: #9d9da5;
                        font-weight: 400;
                        margin-bottom: 6px;

                    }
                    .price_elem input {
                        padding: 6px 12px;
                        height: 36px;
                        width: 98%;

                        color: #000;
                        font-family: inherit;
                        font-size: inherit;
                        font-weight: inherit;
                            
                        background-color: #f1f1f5;
                            
                        appearance: none;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                            
                        border: solid 1px #f1f1f5;
                        border-radius: 7px;
                            
                        font-size: 18px;
                            
                        transition: all .3s ease 0s;
                    }
                        .price_elem input:hover {
                            background-color: #e8e8f0;
                            border-color: #e8e8f0;
                        }
                        .price_elem input:focus {
                            border-color: #a73afd;
                            box-shadow: inset 1px 0 0 #a73afd,inset 0 1px 0 #a73afd,inset -1px 0 0 #a73afd,inset 0 -1px 0 #a73afd;
                        }
            .cat_wrapper {
                display: flex;
                flex-wrap:wrap;
                gap: 9px;
            }
                .cat_wrapper_btn{
                    font-size: 14px;
                    line-height: 20px;
                    color: #242424;
                    padding: 5px 12px 7px;
                    border: 1px solid #d3d4dd;
                    border-radius: 36px;
                    flex-shrink: 0;
                    white-space: nowrap;
                    cursor: pointer;
                    min-width: 50px;
                    background-color: transparent;
                }
                    .cat_wrapper_btn:hover{
                        background: #f1f1f5;
                        border-color: #f1f1f5;
                    }
                .cat_wrapper_btn_clicked {
                    border: 1px solid #a73afd;
                    background: #f1f1f5;
                }
                    .cat_wrapper_btn_clicked:hover{
                        border: 1px solid #a73afd;
                    }
        .filter_submit_wrapper {
            position: fixed;
            bottom: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100vw;
        }
            .filter_submit {
                width: 65%;
                padding: 8px;
                margin: 10px;
                box-shadow: 0 2px 16px rgba(0,0,0,.08);
                background-color: #a73afd;

                opacity: 0.78;
                transition: 0.23s ease-out;

                color: #fff;
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;

                white-space: nowrap;
                border-radius: 8px;
                border: none;

                cursor: pointer;
            }
                .filter_submit:hover {
                    opacity: 1;
                }
    .categoty_header h1 {
        font-size: 5vh;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 700;
        font-style: normal;
        
        color: #ae1ae8; /* non-webkit cant handle text-fill-color? */
        background: linear-gradient(0deg,rgba(36,36,36,.05) 0,rgba(36,36,36,.05) 100%),linear-gradient(97deg,#ed3cca .49%,#df34d2 14.88%,#d02bd9 29.27%,#bf22e1 43.14%,#ae1ae8 57.02%,#9a10f0 70.89%,#8306f7 84.76%,#7c1af8 99.15%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }
    @media (max-width: 900px) {
        .categoty_header h1 {
            font-size: 3.5vh;
        }
    }
        .filter_and_subscribe {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            gap: 20px;
        }
        @media (max-width: 1000px) {
            .filter_and_subscribe {
                gap: 10px;
            }
        }
        @media (max-width: 800px) {
            .filter_and_subscribe {
                gap: 0px;
            }
        }
            .fns_icon {
                margin-top: 10px;
                height: calc(2vh + 5px*2);

                padding: 5px;
                cursor: pointer;

                transition: 0.2s ease-out;    
            }
            @media (max-width: 850px) {
                .filter_and_subscribe{
                    height: calc(3vh + 5px*2);
                }
                .fns_icon {
                    margin-top: 7px;
                    height: calc(1.8vh + 5px*2);
                }
            }
                .filter_img_active {
                    background-color: rgb(235, 235, 235);
                }
        .fns_src_mode{
            display: flex;
            justify-content: space-between;
            gap: unset !important;
            width: 100%;

            flex-direction: row-reverse;
        }
    .categoty_header button {
        height: 4vh;
        width: auto;

        background: linear-gradient(180deg,rgba(36,36,36,.05) 0,rgba(36,36,36,.05) 100%),linear-gradient(277deg,#ed3cca .49%,#df34d2 14.88%,#d02bd9 29.27%,#bf22e1 43.14%,#ae1ae8 57.02%,#9a10f0 70.89%,#8306f7 84.76%,#7c1af8 99.15%);
        opacity: 0.75;

        border: none;
        border-radius: 5px;

        display: flex ;
        justify-content: space-evenly;
        gap: 10%;
        padding: 5px 25px 5px 20px;

        transition: 0.2s ease-out;

        margin-top: 5px;

        cursor: pointer;
        transition: 0s;
    } 
    .gray {
        background: rgb(190, 190, 190) !important;
    }
        @media (hover: none) {
            .categoty_header button {
                opacity: 1;
            }
        }
        @media (max-width: 900px) {
            .categoty_header button{
                padding: 5px 10px 5px 10px;
                border-radius: 7px;
            }
        }
        .subscribe_btn_img {
            max-height: 2.5vh;
            height: 30px;

            margin: auto;
            padding: 0;
        }
        .subscribe_btn_text {
            font-size: 2vh;

            color: rgba(255,255,255,1);
        }
        @media (max-width: 900px) {
            .subscribe_btn_text{
                display: none;
            }
        }
        .categoty_header button:hover {
            opacity: 1;
        }