/* burger menu classes zone */
.gray_screen {
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(0,0,0,0.4);

    position: absolute;
    top: calc(min(90px, 9vh));
    left: 0;

    z-index: 100;
}
.side_menu {
    height: 100vh;

    width: auto;
    min-width: 20vw;

    position: absolute;
    top: calc(min(90px, 9vh));
    left: 0;

    z-index: 101;

    background-color: #fff;

    transition: 0.3s ease-out;

    padding: 10px;
}
    .side_menu h2 {
        font-size: 5vh;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
        .remove_a_decor{
            text-decoration: none !important;
        }
        .main_pg_side_category {
            background: linear-gradient(0deg,rgba(36,36,36,.05) 0,rgba(36,36,36,.05) 100%),linear-gradient(97deg,#ed3cca .49%,#df34d2 14.88%,#d02bd9 29.27%,#bf22e1 43.14%,#ae1ae8 57.02%,#9a10f0 70.89%,#8306f7 84.76%,#7c1af8 99.15%) !important;
            color: white !important;
            font-weight: 800 !important;
            text-decoration-color: #fff !important;
        }
        .side_menu_category, .side_menu_category_big { 
            list-style: none;
            padding: 7px 12px 9px 12px;
            border-radius: 8px;
        }
        .side_menu_category {
            color: black;
            font-weight: 600;
        }
        .side_menu_category_big{
            display: flex;

            flex-direction: row;
            justify-content: space-between;
        }
            .side_menu_category_big p {
                font-size: 20px;
                font-weight: 700;
            }
            .side_menu_category_big_img {
                height: 25px;
                padding-top: 3px;
            }

        .side_menu_subcategory { 
            list-style: none;
            padding: 7px 12px 9px 48px;
            border-radius: 8px;

            color: black !important;
        }
            .side_menu_subcategory:hover {
                background-color: #f6f6f9;
            }

            .side_menu_subcategory p {
                font-size: 16px;
                line-height: 22px;
                color: #242424;
            }
/* special classes zone*/
.hidden_gray_screen {
    display: none;
    z-index: -100 !important;
    opacity: 0;
}
.nonhidden_gray_screen{
    display: block;
}


.hidden_side_menu { left: calc(-20vw - 5vw); }
.nonhidden_side_menu { left: 0; }
.side_menu * { z-index: inherit; }

@media (max-width: 768px) {
    .gray_screen {
        top: calc(min(55px, 7vh));
    }
    .side_menu {
        height: 100vh;
        width: 50vw;
        top: calc(min(55px, 7vh));
    }
    .hidden_side_menu {
        left: calc(-50vw - 5vw);
    }
}
/* end of special classes zone */
/* end of burger menu classes zone */